
@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
<style>
    .main {
        height: 93vh;
        background: #f2f2f2;
    }
</style>
<div class="container-fluid main">
	<section class="content-header">
		
		<ol class="breadcrumb">
			<li><a href="~/Admin/Message"><i class="fa fa-dashboard"></i>Messages</a></li>
			@*<li class="active">Area</li>*@
		</ol>
	</section>

	<div class="row" >
		<div class="card col-md-12">
			<div class="card-body ">
				<table 
					   data-toggle="table"
					   data-height="460"
					   @*data-ajax="getMessages"*@
					   data-search="true"
					   data-side-pagination="server"
					   data-pagination="true">
					<thead id="table">
						
					</thead>

			
				</table>
			</div>
		</div>
	</div>
</div>
@section scripts{ 
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="~/lib/bootstrap-table/bootstrap-table.js"></script>

<script>
    $(document).ready(function () {
		getMessages();
	});
	
    function getMessages(params) {
        var url = '../api/Activity/GetMessages'
		$.get(url).then(function (res) {

			var table = document.getElementById('table');

			for (var i = 0; i < res.length; i++) {
				var row = `<tr>
                            <td><a href="#" class="list-group-item">

								
									<span id="UserID"class="name" style="min-width: 120px; display: inline-block;" >From: ${res[i].contactPerson}</span>
									
									<span id="UserID" class="name" style="min-width: 120px; display: inline-block;float:right">Contact Number: ${res[i].contactNumber}</span>
									<div class="text-muted" style="font-size: 20px;">
										${res[i].text}
									</div>
									<span class="badge">${res[i].cDstring}</span>
									<span class="pull-right">
										<span class="glyphicon glyphicon-paperclip">
										</span>
									</span>

								</a></td>
                          
                      </tr>`
				table.innerHTML += row
			}
				console.log(res);
				//$('#UserID').text(res[0].contactPerson);
				//         params.success(res)
		});
    }
</script>
}
