
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .sectionOne {
        height: 93vh !important; 
        position: relative;
        background-color: yellow;
    }

    .sectionTwo {
        height: 70vh !important;
        position: relative;
        background-color: darkgreen;
    }

    .sectionThree {
        height: 50vh !important;
        position: relative;
        background-color: slategrey;
    }
    .sectionFour {
        height: 50vh !important;
        position: relative;
        background-color: dimgrey;
    }
</style>

@*<div  style="padding-top: 7vh;">*@
    <section id="sectionOne" class="sectionOne et-slide">
        <h1>Section One</h1>
    </section>
    <section id="sectionTwo" class="sectionTwo et-slide">
        <h1>Section two</h1>
    </section>
    <section id="sectionThree" class="sectionThree et-slide">
        <h1> Section three</h1>
    </section>
    <section id="sectionFour" class="sectionFour">

    </section>
@*</div>*@


